{% extends "layout.html" %}
{% block title %}
Movies
{% endblock %}
{% block content %}
<table id="moviesTable">
  <thead>
    <tr>
      <th onclick="sortTable(0)">Year</th>
      <th onclick="sortTable(1)">Genre</th>
      <th onclick="sortTable(2)">Title</th>
      <th onclick="sortTable(3)">Duration</th>
      <th onclick="sortTable(4)">Rating</th>
      <th onclick="sortTable(5)">Score</th>
      <th onclick="sortTable(6)">Resolution</th>
      <th onclick="sortTable(7)">Video</th>
      <th onclick="sortTable(8)">Depth</th>
      <th onclick="sortTable(9)">Audio</th>
      <th onclick="sortTable(10)">Channels</th>
      <th onclick="sortTable(11)">Format</th>
      <th onclick="sortTable(12)">Subtitle</th>
      <th onclick="sortTable(13)">Played</th>
      <th onclick="sortTable(14)">Profiles</th>
    </tr>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr>
      <td>{{ video.year }}</td>
      <td>{{ video.genre }}</td>
      <td>{{ video.title }}</td>
      <td>{{ video.duration }}</td>
      <td>{{ video.rating }}</td>
      <td>{{ video.score }}</td>
      <td>{{ video.videoResolution }}</td>
      <td>{{ video.videoCodec }}</td>
      <td>{{ video.videoDepth }}</td>
      <td>{{ video.audioCodec }}</td>
      <td>{{ video.audioChannels }}</td>
      <td>{{ video.format }}</td>
      <td>{{ video.subtitle }}</td>
      <td>{{ video.played }}</td>
      <td>{% for profile in video.profiles %}<a href="{{ url_for('transcode', key=video.key, profile=profile.name) }}" class="navbar-item">{{ profile.name }} {% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("moviesTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
</table>
{% endblock %}